<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="calorie.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
 	<script src="calorie.js"></script>
 	<script src="ui-bootstrap-tpls-0.12.1.min.js"></script>
</head>

<body ng-app="calorie_count">
	<div ng-controller="CalorieController" class="container" id="app">
		<div class="row">
			<div class="">
				<h3 class="text-muted">Bulk Calorie Counter</h3>
			</div>
		</div>
		<div id="input" class="row form">
			<div class="col-xs-9 form-group">
				<label for="search" class="sr-only">Food:</label>
				<input type="text" 
					id="search" 
					class="form-control" 
					ng-model="calorie.query" 
					typeahead="name as item.name for item in query($viewValue) | limitTo:10" 
					typeahead-on-select="addToList($item, $model, $label)"
					placeholder="Enter a Food" autofocus/>
			</div>
			<div class="col-xs-3 form-group">
				<label for="days" class="sr-only">Days:</label>
				<input type="text" id="days" class="form-control" ng-model="calorie.dayCount" placeholder="Days"/>
			</div>
		</div>
		<div class="row col-xs-offset-1">
				<h4 class="text-muted">Average Over {{calorie.dayCount}} Days</h4>
				<table>
					<thead>
						<td>Calories</td><td>Fat</td><td>Protein</td><td>Carbs</td>
					</thead>
					<tr>
						<td>{{(nutrition.calories / calorie.dayCount).toFixed(2)}}</td>
						<td>{{(nutrition.fat / calorie.dayCount).toFixed(2)}}</td>
						<td>{{(nutrition.protein / calorie.dayCount).toFixed(2)}}</td>
						<td>{{(nutrition.carbs / calorie.dayCount).toFixed(2)}}</td>
					</tr>
				</table>
			</div>
			<hr />
			<div class="container row">
				<div class="span-5">
					<table id="addedList">
						<tr ng-repeat="item in calorie.selected_items">
							<td>
							<a href="#" ng-click="removeFromList(item)">{{item.food.name}}</a>
							</td><td>
							<select 
								ng-options="measure as measure.label for measure in item.nutrients.energy.measures" 
								ng-model="item.measure" 	
								ng-change="updateNutrition(item)"
							</select>
							</td><td>
							<input type="text" size="4" ng-model="item.count" ng-change="updateNutrition(item)"/>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>